* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(2, 38, 39);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 10px solid rgb(6, 110, 114);
    border-right: 10px solid rgb(6, 110, 114);
    border-radius: 12px;
}

.snake-board{
    width: 75vmin;
    height: 75vmin;
    display: grid;
    grid-template: repeat(24,1fr)/repeat(24,1fr);
}

.controls{
    color: rgb(10, 225, 82);
    width: 100%;
    font-size: 50px;
    padding: 5px;
    background-color: rgb(6, 110, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

#score{
    width: 100%;
    padding: 10px;
    background-color: rgb(6, 110, 114);
}

h1{
    color: rgb(244, 50, 11);
    text-align: center;
    font-size: 36px;
    user-select: none;
}

.snake-board .food{
    background-color: #e5de0b;;
    width: 80%;
    border-radius: 50%;
}

.snake-board .snake-head{
    width: 100%;
    background-color: rgb(6, 246, 6);
}


@media (max-width:493px) {
    .snake-board{
        width: 400px;
        height: 400px;
    }
    .controls{
        font-size: 30px;
        gap: 7px;
    }
    #score{
        padding: 3px;
    }
    h1{
        font-size: 21px;
    }
    .wrapper{
        border-left: 3px solid rgb(6, 110, 114);
        border-right: 3px solid rgb(6, 110, 114);
        border-radius: 7px;
    }
}


@media (max-width:429px) {
    .snake-board{
        width: 350px;
        height: 350px;
    }
}


@media (max-width:383px) {
    .snake-board{
        width: 320px;
        height: 320px;
    }
}


@media (max-width:347px) {
    .snake-board{
        width: 300px;
        height: 300px;
    }
}


@media (max-width:316px) {
    .snake-board{
        width: 270px;
        height: 270px;
    }
}


@media (max-width:291px) {
    .snake-board{
        width: 250px;
        height: 250px;
    }
}


@media (max-width:263px) {
    .snake-board{
        width: 210px;
        height: 210px;
    }
}


@media (max-width:239px) {
    .snake-board{
        width: 180px;
        height: 180px;
    }

    .controls{
        display: grid;
        grid-template: repeat(2,1fr)/repeat(2,1fr);
        align-items: center;
    }
}


@media (max-width:187px) {
    .snake-board{
        width: 150px;
        height: 150px;
    }
}


@media (max-width:153px) {
    .snake-board{
        width: 120px;
        height: 120px;
    }
}


@media (max-width:123px) {
    .snake-board{
        width: 90px;
        height: 90px;
    }
}